{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "semi": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.html", "src/*.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
